body{
    background-color: rgb(189, 236, 236);
}
h1{
    color: rgb(189, 147, 228);
    font-size: 80px;
    text-align: center;
}
.cabecalho {
      background-color: beige;
      display: flex;

}
.logoimg{
    width: 90px;
    height:90px;

}
.listacabecalho{
    display: flex;
    margin-left: 700px;
    margin-top: 100px;
}
.itemlistacabecalho{
    list-style: none;
    text-transform: uppercase;
    font-size: 35px;
    color: antiquewhite;
    padding-left: 30px;
}